body{
    text-align: center;
    width: 80%;
    margin: auto;
    background-image:url("/images/background.webp") ;
    background-size: cover;
}
.expert{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px);
    height: 300px;
    margin: auto;
    
}

.intermediate{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px);
    height: 300px;
    margin: auto;
    
}

.beginner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px);
    height: 300px;
    margin: auto;
    
}

.carte{
    
    width: 95px;
    justify-content: center;
    margin: auto;
}

img{
    width: 90px;
    display: block;
}
button{
    margin-top: 50px;
}

.hidden{
    display: none;
}

#zoneChoix{
    padding-bottom: 20px;
    
}

table{
    background-color: black;
    opacity: 0.6;
    font-size: large; 
    color : white;
}

#chrono{
    margin-top: 30px;
    color: white;
    font-size: xx-large;
}

#recommencer{
    font-size: large;
}